h1 {
    text-align: center;
}

body {
    text-align: center;
}

.customers {
    display: flex;
    flex-wrap: wrap;
}

.customers div {
    flex: 1 1 24%;
    justify-content: center;
    text-transform: capitalize;
    margin: 0 5px;
    min-width: 150px;
    max-width: 300px;
}

.names {
    font-weight: bold;
    display: inline-block;
    border-bottom: solid black 1px;
}

.email {
    text-transform: uppercase;
    color: #DEDEDE;
    margin-top: 0;
}

.phone {
    margin-bottom: 5rem;
}


/*.customers p {
    text-align: center;
}*/

.pic {
    height: 17rem;
    width: 100%;
}